{% extends 'navbar.html' %}


{% block content_nav %}


<h1 style="color: black;font-weight: 600; margin-left: 30px; margin-top: 20px;">Instructions</h1>
    <ul>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;"> Students must present valid photo identification before starting the exam.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;"> Students are not allowed to use any external devices such as smartphones, calculators, or notes during the exam.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;">Leaving fullscreen mode or opening additional tabs or windows during the exam will result in immediate termination of the exam and may lead to disqualification or other disciplinary actions.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;">Students are not allowed to communicate with anyone else during the exam, either verbally or through electronic means.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;">Students must manage their time effectively as per the exam duration specified.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;">Any form of cheating, including looking at unauthorized materials, copying from others, or using online resources, is strictly prohibited.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;">The exam will be monitored by invigilators either physically or through video surveillance to ensure compliance with the rules.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;">Students must submit their answers within the specified time limit. Late submissions may not be accepted.</li>
        <li style="color: black; font-size: 20px; line-height: 40px; font-family: 'K2D', san-serif;">Violations of these rules may result in disqualification from the exam or other disciplinary actions as per the institution's policies.</li>
    </ul>   

{% endblock content_nav %}