{% extends 'base.html' %} 
{% block content %}
    create test here
    <div
        class="container-sm"
    >
    <form action="{%url 'teacher:add_test'%}" method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            {% endif %}
            {% endfor %}
        <button type="submit" class="btn btn-primary">Create Test</button>
    </form>
    </div>
    
    
    
    
{% endblock content %}
    