{% extends 'base.html' %} 
{% block content %} 
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %} 
<div class="d-flex justify-content-end w-100">
</div>
<div class="card mt-5 mb-5" style="border-radius: 25px; color:black">
  <div class="card-body">
    <div class="container">
        <h2>Created Tests</h2>
      <div class="row">
        <div class="col-md-6"> <!-- Adjust this value to your needs -->
            {% for test in tests %}
            <li class="list-group-item d-flex align-items-center" id="" style="background-color: black;">
              <div class="p-2 flex-grow-1">
                <h5 style="color:white">{{ test.subject_Code }}</h5>
              </div>
          
              
            {% endfor %}
            
            <div class="row">
              <div class="col-12 d-flex justify-content-center">
                  <form action="{%url 'teacher:create_test'%}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-primary">Create Test</button>
                  </form>
              </div>
            </div>
          </div>
  </div>
</div>
{% endblock content %}