{% extends 'navbar.html' %}

{% block content_nav %} 
<style>
.welcomeuser {
    font-family: "K2d", sans-serif !important;
    color: black;
    font-size: 50px;
    margin-top: 50px; /* Add margin-top */
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 130px;
    right: 150px;
}

.line {
    width: 1073px;
    height: 8px;
    background-color: #000;
    margin: 0 auto 10px; /* Adjust margin-top */
    position: relative;
    bottom: 120px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#out {
    width: 1171px;
    height: 520px;
    border-radius: 78px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center horizontally */
    margin-top: 50px; /* Adjust top margin as needed */
}
#hello{
  position: relative;
  bottom: 100px;
  right: 100px;
}


</style>
<div id="out">
  <div style="width: 667px; height: 150px; text-align: center; display: flex;">
      <div style="width: 60px;"></div>    
      <div style="display: flex; width: auto;">
      <p class="welcomeuser">Welcome&nbsp;</p><p class="welcomeuser" style="font-weight: bold;">{{ name }},</p>
  </div>

</div>
  <div class="line"></div> 
  <div class="welcomeuser" style="font-size: 32px;font-weight: 200;" id="EnterCode">Enter the Code</div>
  <div class="form-container">
    <form class="row row-cols-lg-auto g-3 align-items-center" action="{% url 'student:test' %}"id="hello">
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormInputGroupUsername">Test Code</label>
          <div class="input-group">
            <div class="input-group-text"></div>
            <input type="text" class="form-control" name="code" id="inlineFormInputGroupUsername" placeholder="Test Code">
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
</div>
</div>

{% endblock content_nav %}