{% extends 'base.html' %} 

{% block content %}

<div class="container-fluid d-flex flex-column vh-100 justify-content-center align-items-center">
  <!-- Logout Button -->
  <div class="d-flex justify-content-end w-100">
    <form action="{% url 'authentication:logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
  </div>
  <!-- End Logout Button -->
    <form action="test" method="post" class="w-50">
    {% csrf_token %}
    <div class="form-group">
      <label for="examCode">Exam Code:</label>
      <input type="text" class="form-control" id="examCode" name="examCode" required />
    </div>
    <button type="submit" class="btn btn-primary">Start Test</button>
  </form>
</div>
{% endblock %}