{% extends 'navbar.html' %}

{% block content_nav %} 
<style>
.welcomeuser {
    font-family: "K2d", sans-serif !important;
    color: black;
    font-size: 50px;
    margin-top: 50px; /* Add margin-top */
    font-weight: 100;
}
.line {
    width: 1073px;
    height: 8px;
    background-color: #000;
    margin: 0 auto 10px; /* Adjust margin-top */
}
</style>
<div style="height: 50px;"></div>
<div style="width: 1171px; height: 520px; border-radius: 78px; background-color: white;">
    <div style="width: 667px; height: 150px; text-align: center; display: flex;">
        <div style="width: 50px;"></div>    
        <p class="welcomeuser">Welcome&nbsp;</p><p class="welcomeuser" style="font-weight: bold;">Sid</p>
    </div>
    <div class="line"></div> 
    <div>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>
</div>
{% endblock content_nav %}
